body {
		font-family: verdana;
		background-color: #fff;
		}
		
	h1 {
		color: #112;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px #000, -1px -1px #CCC;
		font-size: 400%;
		}
		
	label, input {
		display: block;
		width: 400px;
		color: #000;
		}
		
	h2 {
		background-color: #000;
		color: #CCC;
		text-align: center;
		text-transform: uppercase;
		}